/* Typography */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Mona Sans";
  font-weight: 500;
  src: url("/fonts/MonaSans-Bold.ttf") format("truetype");
}

h1,
h2,
h3,
h4 {
  font-family: "Mona Sans", sans-serif;
  font-weight: 500;
  font-size: 138px;
  color: white;
}
