@font-face {
  font-family: "Mona Sans";
  font-weight: 600;
  src: url("/fonts/MonaSans-SemiBold.ttf") format("truetype");
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  line-height: normal;
  user-select: none;
}

h1 {
  font-family: "Mona Sans", sans-serif;
  font-weight: 600;
  font-size: 58px;
  letter-spacing: -3px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 38px;
    letter-spacing: -1px;
  }
}

a {
  text-decoration: none;
  text-transform: uppercase;
  pointer-events: all;
}
