@font-face {
  font-family: "Mona Sans";
  font-weight: 500;
  src: url("/fonts/MonaSans-Bold.ttf") format("truetype");
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Mona Sans", sans-serif;
  font-weight: 500;
  font-size: 146px;
  color: white;
  text-shadow: 4px 4px 20px #661e1e;
}

h4 {
  font-family: "Mona Sans", sans-serif;
  font-weight: 500;
  font-size: 46px;
  color: white;
}

a {
  text-decoration: none;
  pointer-events: all;
}
